html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background: #122d17;
    color: white;
}

a {
    text-decoration: underline;
    color: #122d17;
}

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #0288D1;*/
    /*background: radial-gradient(circle, #039BE5, #01579b);*/

    background-color: #122d17;
    background: radial-gradient(circle, #a4ba4a, #122d17);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.button-exit {
    position: absolute;
    top: 10px;
    right: 20px;
}
